
body {
  background-color: rgb(77, 74, 74);
  font-family:'Roboto', sans-serif;
  color: white;
}

.header {
  text-align: left;
  width: 100%;
  height: flex;
  align-items: left;
  padding-left: 30px;
}

.github-button {
  position: absolute;
  top: 8px;
  right: 16px;
}

.searchForm {
  margin-left: 30px;
  display: flex;
  background-color: #585858;
  border: 1px solid black;
  border-radius: 8px;
}

.searchForm-input {
  background-color: #585858;
  border: none;
  height: 44px;
  width: 300px;
  padding: 5px 10px;
  color: white;
}

.icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border: none;
  background-color: #585858;
}

.icon:hover {
  background-color: darkred;
}

.icon img {
  width: 34px;
  height: 34px;
}

.searchResults {
  color: white;
  padding: 20px;
  width: flex;
  text-align: left;
  text-decoration: none;
}

.song {
  margin-left: 30px;
  border-radius: 8px;
  margin: 20px;
  padding: 5px 15px;
  background-color: grey;
  border: 1px;
  border-radius: 8px;
}

.song:hover {
  background-color: darkred;
}

.searchResults a{
  color: white;
  text-decoration: none;
}



